/* VisNar */

/* Global Variables */
:root {
	--color1: rgba(0,0,255,0.5);
	--color2: rgba(255,255,255,1);
	--color3: rgba(0,0,0,1);
	--color4: rgba(156,156,156,1);
	--color5: rgba(125,0,0,1);
	--color6: rgba(255,0,0,1);
	--color_clear: rgba(0,0,0,0);
	--font: pixeloid, verdana, sans-serif;
	--font-size-small: 18px;
	--font-size-big: 36px;
}

/* Font */
@font-face {
	font-family: pixeloid;
	src: url('pixeloid_mono.otf');
}

/* HTML Elemtents */
body { 
	margin:0px;
	padding:0px;
	overflow:hidden;
	font-family: var(--font);
}

/* Elements by ID */
#bg {
	width:100%;
	height:100vh;
	background-size:contain;
}

#title_img_container { 
	display: flex;
    position: fixed;
    top: 0vh;
    width: 100%;
    justify-items: center;
    justify-content: center;
}

#title_img { 
	max-width:600px;
}

#title_option_container { 
	display:flex;
	position:fixed;
	top:50vh;
	left:0px;
	width:100%;
	height:50vh;
	align-items:center;
	justify-content: center;
}

#char { 
	color:white;
	font-size:20px;
}

#text { 
	color:white;
	font-size:var(--font-size-small);
}

#nextPage {
	font-size:var(--font-size-big);
	background-color: var(--color_clear);
    border: 0px;
	cursor:pointer;
}

#option_container { 
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100vh;
	align-items:center;
	justify-content: center;
}

#option { 
	display:flex;
	flex-direction: column;
	width:80%;
}

#menuBtn { 
	position:fixed;
	top:5px;
	left:2%;
	cursor:pointer;
	font-size:var(--font-size-big);
}

#menu { 
	display:none;
	position:fixed; 
	top:0px;
	left:0px;
	width:100%;
	height:100vh;
	background-color:rgba(0,0,0,0.7);
	padding:5%;
}

#char-img-wrapper { 
	display:flex;
	padding:10px;
}

/* Classes */
/* Position and Sizes */
.container { 
	padding:25px;
	display:flex;
	flex-direction:column;
}

.content-row { 
	border-radius:5px;
	padding:10px;
}

.dynamic-width { 
	width:fit-content;
}

.self-end { 
	align-self:flex-end;
}

.menu-show { 
	display:flex !important;
}

.inner-menu { 
	background-color: var(--color1);
	color: var(--color2);
	font-size:var(--font-size-small);
	width: 90%;
    padding: 10px;
    height: 80vh;
    border-radius: 10px;
    border: 1px vaR(--color4) solid;
    box-sizing: border-box;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-menu-wrapper { 
	display:flex;
	flex-direction: column;
}
.inner-menu-wrapper span { 
	cursor:pointer; 
	padding:10px 0 10px 0;
}

.option_btn { 
	background-color: var(--color5);
	font-family: var(--font);
	font-size:var(--font-size-small);
	color: var(--color2);
	padding:10px;
	border-radius:2px;
	border:3px var(--color2) dashed;
	cursor:pointer;
	transition:0.5s all;
}
.option_btn:hover { 
	background-color: var(--color6);
	transition:0.5s all;
}
#char-img-wrapper { 
	display:flex;
	padding:10px;
}
.char-img-left { justify-content:flex-start; }
.char-img-right { justify-content:flex-end; }
.char-img-center { justify-content:center; }

/* Colors */
.background-one { 
	background-color: var(--color1);
}

.border-one { border:1px var(--color1) solid; }
.border-two { border:1px var(--color2) solid; }

.stroke-text-two { 
	--stroke-color:var(--color2);
  	--stroke-width:3px;
  	color:var(--color3);
  	text-shadow: var(--stroke-width)  0 0 var(--stroke-color),
    	calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    	0 var(--stroke-width) 0 var(--stroke-color),
    	0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}